.order-h{
  height: 78vh;
}

.border-menu-init{
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.border-menu{
  border-radius: 8px;
}

.menu-h{
  height: 68vh;
}

.resume-h{
  height: 55vh;
}

.menu-m{
  margin-left: 5px;
  margin-right: 4px;
}

.row div p{
  font-size: 1.2rem;
}

.nav-link img{
  height: 41px;
  padding-top: 5px;
}

.nav-link p{

  margin-bottom: 0px;
}

#resume{
  border-radius: 8px;
}

.img-btn{
  width: 22px;
}

/*nav menu*/
.nav-tabs{
  background-color: #292B37;
}

.options{
  width: 114px;
}
