<div class="row menu-h">
    <div class="col p-0">
      <div class="nav nav-tabs" id="nav-tab" role="tablist">
        <button class="nav-link pb-0 pt-1 w-25 active w-25 d-flex justify-content-center flex-column align-items-center" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-home" aria-selected="true">
          <img class= "mb-2" [src]='lunchData.img' alt="cenaIcon">
          <p class="fs-6 fw-bold">{{lunchData.name}}</p>
        </button>
        <button class="nav-link w-25 d-flex justify-content-center flex-column align-items-center" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile" type="button" role="tab" aria-controls="nav-profile" aria-selected="false">
          <img class= "mb-2" [src]="breakfastData.img" alt="cenaIcon">
          <p class="fs-6 fw-bold">{{breakfastData.name}}</p>
        </button>
        <button class="nav-link w-25  d-flex justify-content-center flex-column align-items-center" id="nav-contact-tab" data-bs-toggle="tab" data-bs-target="#nav-contact" type="button" role="tab" aria-controls="nav-contact" aria-selected="false">
          <img class= "mb-2" [src]="sideDishData.img" alt="cenaIcon">
          <p class="fs-6 fw-bold">{{sideDishData.name}}</p>
        </button>
      </div>

      <div class="tab-content menu-m p-2 pt-0" id="nav-tabContent"> 
        <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
          <div class="row mb-1 border-menu-init pb-2 pt-1 bg-info">
            <p class=" text-center mb-0 fw-bold">{{lunchData.items[0].name}}</p>
            <div class="col nav nav-pills mb-1 mt-2" >
              <button *ngFor="let e of lunchData.items[0].options" class="nav-link border border-primary options ms-1" data-bs-toggle="pill" type="button" aria-selected="false">{{e|titlecase}}</button>
            </div>
          </div>
          <div class="row mb-1 border-menu pb-2 pt-1 bg-info">
            <p class=" text-center mb-0 fw-bold">Tipo</p>
            <div class="col nav nav-pills mb-1 mt-2">
              <button *ngFor ="let e of lunchData.items[0].items" class="nav-link  border border-primary options ms-1 me-1" data-bs-toggle="pill" type="button" aria-selected="false">{{e|titlecase}}</button>
            </div>
          </div>
          <div class="row mb-1 border-menu pb-2 pt-1 bg-info">
            <p class=" text-center mb-0 fw-bold">{{lunchData.items[1].name}}</p>
            <div class="col nav nav-pills mb-1 mt-2">
              <button *ngFor ="let e of lunchData.items[1].options" class="nav-link  border border-primary options ms-1 me-1" data-bs-toggle="pill" type="button" aria-selected="false">{{e|titlecase}}</button>
            </div>
          </div>
          <div class="row mb-1 border-menu pb-2 pt-1 bg-info">
            <p class=" text-center mb-0 fw-bold">{{lunchData.items[2].name}}</p>
            <div class="col nav nav-pills mb-1 mt-2 pe-0" >
              <button *ngFor ="let e of lunchData.items[2].options" class="nav-link  border border-primary options ms-1 me-1" data-bs-toggle="pill" type="button" aria-selected="false">{{e|titlecase}}</button>
            </div>
          </div>
        </div>
        <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
          <div class="row mb-1 border-menu-init pb-2 pt-1 bg-info">
            <p class=" text-center mb-0 fw-bold">{{breakfastData.items[0].name}}</p>
            <div class="col nav nav-pills mb-1 mt-2">
              <button *ngFor ="let e of breakfastData.items[0].options" class="nav-link  border border-primary options ms-1 me-1" data-bs-toggle="pill" type="button" aria-selected="false">{{e|titlecase}}</button>
            </div>
          </div>
          <div class="row mb-1 border-menu pb-2 pt-1 bg-info">
            <p class=" text-center mb-0 fw-bold">{{breakfastData.items[1].name}}</p>
            <div class="col nav nav-pills mb-1 mt-2">
              <button *ngFor ="let e of breakfastData.items[1].options" class="nav-link  border border-primary options ms-1 me-1" data-bs-toggle="pill" type="button" aria-selected="false">{{e|titlecase}}</button>
            </div>
          </div>
          <div class="row mb-1 border-menu pb-2 pt-1 bg-info">
            <p class=" text-center mb-0 fw-bold">{{breakfastData.items[2].name}}</p>
            <div class="col nav nav-pills mb-1 mt-2">
              <button *ngFor ="let e of breakfastData.items[2].options" class="nav-link  border border-primary options ms-1 me-1" data-bs-toggle="pill" type="button" aria-selected="false">{{e|titlecase}}</button>
            </div>
          </div>
        </div>
        <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
          <div class="row mb-1 border-menu-init pb-2 pt-1 bg-info">
            <p class=" text-center mb-0 fw-bold">{{sideDishData.items[0].name}}</p>
            <div class="col nav nav-pills mb-1 mt-2">
              <button *ngFor ="let e of sideDishData.items[0].options" class="nav-link  border border-primary options ms-1 me-1" data-bs-toggle="pill" type="button" aria-selected="false">{{e|titlecase}}</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row mt-4">
    <div class="col mt-1"><button class="btn btn-danger ps-5 pe-5 gradient-red"type="button" name="button">Anular</button></div>
    <div class="col text-end mt-1"><button class="btn btn-success ps-5 pe-5 gradient-green"type="button" name="button">Enviar</button></div>
  </div>
