<div class="row menu-h">
    <div class="col p-0">
      <div class="nav nav-tabs" id="nav-tab" role="tablist">
        <app-menu-nav-tab [e] = "elements" *ngFor="let elements of menuData" 
        class="nav-link p-0 d-flex justify-content-center flex-column align-items-center" 
        id= "nav-{{elements.id}}-tab" data-bs-toggle="tab" attr.data-bs-target="#nav-{{elements.id}}" 
        role="tab" attr.aria-controls="nav-{{elements.id}}" aria-selected="true"></app-menu-nav-tab>
      </div>

      <div class="tab-content menu-m p-2 pt-0" id="nav-tabContent"> 
        <app-menu-tab-content [e] = "elements" *ngFor="let elements of menuData" 
    
        class="tab-pane fade show" [id]="'nav-'+ elements.id" role="tabpanel" 
        attr.aria-labelledby="nav-{{elements.id}}"></app-menu-tab-content>

      </div>
    </div>
  </div>

  <div class="row mt-4">
    <div class="col mt-1">
      <button (click)="onClickCancel()" routerLink="/home" class="btn btn-danger ps-5 pe-5 gradient-red"type="button" name="button">Anular</button>
    </div>
    <div class="col text-end mt-1"><button class="btn btn-success ps-5 pe-5 gradient-green"type="button" name="button">Enviar</button></div>
  </div>
