<div class="row border-bottom border-2 border-light mb-2 div-name-res">
    <div class="col-1"></div>
    <div class="col-1"></div>
    <div class="col-4">
      <h5 class="text-primary fw-bolder">Nombre Item</h5>
    </div>
    <div class="col-2 text-center pe-0">
      <h5 class="text-primary fw-bolder">Cant</h5>
    </div>
    <div class="col-2">
      <h5 class="text-primary fw-bolder">Unidad</h5>
    </div>
    <div class="col-2">
      <h5 class="text-primary fw-bolder">Valor</h5>
    </div>
  </div>
  <div class="row resume-h text-white div-res">
    <div class="col">
      <div class="row">
        <div class="col-1"><button class="btn p-0"><img class="img-btn" src="../../../assets/img/menosIcon.png" alt="menos"></button></div>
        <div class="col-1 ps-2"><button class="btn p-0"><img class="img-btn" src="../../../assets/img/basuraIcon.png" alt="menos"></button></div>
        <div class="col-5 col-xl-4 ps-1">
          <p class="mb-1 resume-font">Hamburgesa sencilla</p>
          <p class="ms-3 mb-1" id='items'> hola </p>
        </div>
        <div class="col-1 col-xl-2 text-center">
          <p class="mb-1">1</p>
          <p class="mb-1">1</p>
        </div>
        <div class="col-2">
          <p class="mb-1">$10</p>
        </div>
        <div class="col-2">
          <p class="mb-1">$10</p>
        </div>
      </div>
      <div class="row">
        <div class="col-1"><button class="btn p-0"><img class="img-btn" src="../../../assets/img/menosIcon.png" alt="menos"></button></div>
        <div class="col-1 ps-2"><button class="btn p-0"><img class="img-btn" src="../../../assets/img/basuraIcon.png" alt="menos"></button></div>
        <div class="col-5 col-xl-4 ps-2">
          <p class="mb-1">Aros de cebolla</p>
        </div>
        <div class="col-1 col-xl-2 text-center">
          <p class="mb-1">1</p>
        </div>
        <div class="col-2">
          <p class="mb-1">$5</p>
        </div>
        <div class="col-2">
          <p class="mb-1">$5</p>
        </div>
      </div>
    </div>
  </div>
  <div class="row bg-primary text-white p-2 fs-4 div-total">
    <div class="col-10">Total</div>
    <div class="col-2 text-center">$20</div>
  </div>
  <div class="row">
  </div>
