<main class="container-fluid bg-primary cont-h" >
    <div class="row">
      <div class="col d-flex justify-content-end align-items-center cont-h">
        <img src="../../../../assets/img/Logo.png" alt="" class="img-fluit float top" alt="titulo" />
      </div>
      <form [formGroup]='orderGroup' (ngSubmit)='onSubmit()' class="col d-flex justify-content-center align-items-start flex-column cont-h">
        <div class="input-group mb-3 w-75">
          <input formControlName ='customerName' type="text" class="form-control" placeholder="Nombre del Cliente">
        </div>
        <div>
          <select formControlName = 'table' class="form-select pe-5" >
            <option value="Mesa 1">Mesa 1</option>
            <option value="Mesa 2">Mesa 2</option>
            <option value="Mesa 3">Mesa 3</option>
          </select>
        </div>
        <button type="submit" class="btn btn-warning mt-3 gradient-yellow">Tomar Orden</button>
      </form>
    </div>
  </main>
