.nav-link img{
    width:40px;
    height: 40px;
}
#icon-ok{
    width:55px;
}

#alert{
  left: 7vw;
  top: 2vh;
}

@media(min-width:1270px){
  #alert{
    left: 8.5vw;
  }
}
@media(min-width:1900px){
  #alert{
    left: 9.2vw;
  }
}
