<nav class="nav nav-pills flex-column flex-sm-row fixed-bottom bg-secondary">
  <a routerLink="/home" routerLinkActive="active" class="nav-link flex-sm-fill text-sm-center mt-2 mb-2 ms-5 me-5"><img src="../../../assets/img/casaIcon.svg" alt=""></a>
  <a routerLink="/menu" routerLinkActive="active" class="nav-link flex-sm-fill text-sm-center mt-2 mb-2 ms-5 me-5"><img src="../../../assets/img/menuIcon.svg" alt=""></a>
  <a routerLink="/chef" routerLinkActive="active" class="nav-link flex-sm-fill text-sm-center mt-2 mb-2 ms-5 me-5"><img src="../../../assets/img/chefIcon.svg" alt=""></a>
  <a routerLink="/waiter" routerLinkActive="active" class="nav-link flex-sm-fill text-sm-center mt-2 mb-2 ms-5 me-5 position-relative">
    <img src="../../../assets/img/pedidoListoIcon.svg" id="icon-ok" alt="">
    <span [ngStyle]="{'display': arrayDoneTrue.length !== 0 ? '': 'none'}"
    id="alert" class="position-absolute translate-middle p-2 bg-warning alert-gradient rounded-circle">
      <span class="visually-hidden">New alerts</span>
    </span>
  </a>
</nav>
