<div class="text-center">
  <button class="btn btn-success gradient-green btn-ok-w p-1 m-2" type="button" name="button">
    <div class="d-flex justify-content-between border-bottom border-info border-2">
      <h4 class="mb-0 ps-2 pb-1 fw-bold">#pedido</h4>
      <h4 class="mb-0 pe-2 pb-1 fw-bold">hora</h4>
    </div>
    <p class="mb-0 ps-2 fw-normal">Nombre del Cliente</p>
    <p class="mb-0 ps-2 fw-normal">#Mesa</p>
  </button>
  <button class="btn btn-success gradient-green btn-ok-w p-1 m-2" type="button" name="button">
    <div class="d-flex justify-content-between border-bottom border-info border-2">
      <h4 class="mb-0 ps-2 pb-1 fw-bold">#pedido</h4>
      <h4 class="mb-0 pe-2 pb-1 fw-bold">hora</h4>
    </div>
    <p class="mb-0 ps-2 fw-normal">Nombre del Cliente</p>
    <p class="mb-0 ps-2 fw-normal">#Mesa</p>
  </button>
  <button class="btn btn-success gradient-green btn-ok-w p-1 m-2" type="button" name="button">
    <div class="d-flex justify-content-between border-bottom border-info border-2">
      <h4 class="mb-0 ps-2 pb-1 fw-bold">#pedido</h4>
      <h4 class="mb-0 pe-2 pb-1 fw-bold">hora</h4>
    </div>
    <p class="mb-0 ps-2 fw-normal">Nombre del Cliente</p>
    <p class="mb-0 ps-2 fw-normal">#Mesa</p>
  </button>
</div>
