<div class="d-flex flex-row justify-content-center ">
    <div class="card bg-info border border-primary border-2 rounded m-2">
        <div class="card-body p-2 ps-3">
            <h5 class="card-title border-bottom border-light fw-bolder text-primary"># Pedido 11:42</h5>
            <div class="row mb-2">
                <div class="col-1"></div>
                <h6 class="col-7 text-white fw-bolder">Nombre Item</h6>
                <h6 class="col-3 p-0 text-center text-white fw-bolder">Cant</h6>
                <div class="row">
                    <div class="col-2 ps-2"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="22"
                            fill="currentColor" class="bi bi-check2" viewBox="0 0 20 22">
                            <path
                                d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z" />
                        </svg></div>
                    <p class="col-8 ps-1 text-white mb-1 resume-font">Hamburgesa sencilla - Vegetariana</p>
                    <p class="col-2 text-white mb-1">1</p>
                </div>
                <div class="row">
                    <div class="col-2 ps-2"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="22"
                            fill="currentColor" class="bi bi-check2" viewBox="0 0 20 22">
                            <path
                                d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z" />
                        </svg></div>
                    <p class="col-8 ps-1 text-white mb-1 resume-font">Aros de Cebolla</p>
                    <p class="col-2 text-white mb-1">2</p>
                </div>
                <div class="row">
                    <div class="col-2 ps-2"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="22"
                            fill="currentColor" class="bi bi-check2" viewBox="0 0 20 22">
                            <path
                                d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z" />
                        </svg></div>
                    <p class="col-8 ps-1 text-white mb-1 resume-font">Babida/gaseosa 500ml</p>
                    <p class="col-2 text-white mb-1">2</p>
                </div>




                <div class="col mt-1 ms-4 "><button class="btn btn-success ps-5 pe-5 gradient-green" type="button"
                        name="button">Listo</button></div>
            </div>
        </div>
    </div>
    <div class="card bg-info m-2">
        <div class="card-body p-2 ps-3">
            <h5 class="card-title border-bottom border-light fw-bolder text-primary"># Pedido 11:42</h5>
            <div class="row mb-2">
                <div class="col-1"></div>
                <h6 class="col-7 text-white fw-bolder">Nombre Item</h6>
                <h6 class="col-3 p-0 text-center text-white fw-bolder">Cant</h6>
                <div class="row">
                    <div class="col-2 ps-2"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="22"
                            fill="currentColor" class="bi bi-check2" viewBox="0 0 20 22">
                            <path
                                d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z" />
                        </svg></div>
                    <p class="col-8 ps-1 text-white mb-1 resume-font">Hamburgesa sencilla - Vegetariana</p>
                    <p class="col-2 text-white mb-1">1</p>
                </div>
                <div class="row">
                    <div class="col-2 ps-2"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="22"
                            fill="currentColor" class="bi bi-check2" viewBox="0 0 20 22">
                            <path
                                d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z" />
                        </svg></div>
                    <p class="col-8 ps-1 text-white mb-1 resume-font">Aros de Cebolla</p>
                    <p class="col-2 text-white mb-1">2</p>
                </div>
                <div class="row">
                    <div class="col-2 ps-2"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="22"
                            fill="currentColor" class="bi bi-check2" viewBox="0 0 20 22">
                            <path
                                d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z" />
                        </svg></div>
                    <p class="col-8 ps-1 text-white mb-1 resume-font">Babida/gaseosa 500ml</p>
                    <p class="col-2 text-white mb-1">2</p>
                </div>
                <div class="col mt-1 ms-4 "><button class="btn btn-success ps-5 pe-5 gradient-green" type="button"
                        name="button">Listo</button></div>
            </div>
        </div>
    </div>
</div>